# Ends
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

SUPABASE_API_URL=http://127.0.0.1:54321
SUPABASE_SERVICE_KEY=sb_secret_.....

# OpenAI
OPENAI_API_KEY=sk-.....

# Optional LangSmith tracing for LangChain
LANGSMITH_API_KEY=lsv2_pt_.....
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=expatrag
