langchain
langchain-community
langchain_text_splitters
langchain_huggingface
langchain_openai
langchain_chroma
python-dotenv
sentence-transformers
unstructured[all]
olefile>=0.47
rank_bm25
ipykernel
langchain_cohere